{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Password reset - sent email
{% endblock %}

{% block header %}
    Password reset - sent e-mail
{% endblock %}

{% block content %}
    <div class="text-center" style="width: 80%; margin: 0 auto">
        <h2>
            We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly
        </h2>
        <br>
        <h3 style="width: 60%; margin: 0 auto">
            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
            your spam folder
        </h3>
    </div>
    <div class="text-center">
        <a href="{% url 'index' %}">Return to home page</a>
    </div>
{% endblock %}
