{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Password reset
{% endblock %}

{% block header %}
    <h1 style="font-style:italic"><span style="color:#0033ff"><cite><strong>Reset password</strong></cite></span></h1>
    <hr />
{% endblock %}

{% block content %}
    <div class="text-center" style="width: 80%; margin: 0 auto">
        <h2>Password reset complete</h2>
        <h3 style="width: 60%; margin: 0 auto">
            Your Password has been set
        </h3>
    </div>
    <br/>
    <div class="text-center">
        <a href="{% url 'accounts:login' %}">Login</a>
    </div>
{% endblock %}
